#container {
  text-align: center;
  font-family: 'Metropolis-Regular';

  position: absolute;
  left: 0;
  right: 0;
  top: 40px;
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;

  color: #8c8c8c;

  margin: 0;
}

#container a {
  text-decoration: none;
}

.interval-select {
  display: flex;
  flex-direction: column;

  ion-label {

  }

  .inputs {
    display: flex;
    flex-direction: row;
    padding: 10px 0px;
    ion-input {
      border-bottom: 1px solid #B0B0B0;
      margin-right: 40px;
      font-size: 30px;
      font-family: 'Metropolis-Bold';
    }

    ion-select {
      width: 70%;
      font-size: 30px;
      padding: 0px;
      text-align: left;
      border-bottom: 1px solid #B0B0B0;
      font-family: 'Metropolis-Bold';
    }
  }

}

.left {
  display: flex;
  flex-direction: column;
  margin-right: 40px;
}
.right {
  width: 100%;
  text-align: left;
}

.flex-container {
  margin: 0px 40px;
  display: flex;

  .timer {
    width: 50%;
    padding: 0px;
    color: #B0B0B0;
    transition: 0.2s ease-out all;
    cursor: pointer;

    background-color: transparent;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    height: 100px;
    width: 100px;

    &.reset {
      height: auto;
      padding: 10px 0px;
      font-family: 'Metropolis-Bold';
      &:hover {
        color: black;
      }
    }
    &.start {
      background-image: url("../../assets/play.svg");
      &:hover {
        background-image: url("../../assets/play-clicked.svg");
        &:disabled {
          background-image: url("../../assets/play.svg");
        }
      }
    }
    &.pause {
      background-image: url("../../assets/pause.svg");
      &:hover {
        background-image: url("../../assets/pause.svg");
      }
    }
    &:disabled {
      opacity: 0.5;
    }
  }
}

.labels {
  display: flex;
  flex-direction: column;
  .flavor {

  }

  .countdown {
    font-size: 10vw;
    padding-top: 15px;
    font-family: 'Metropolis-Bold';
  }
}

.tag {
  font-family: 'Metropolis-Regular';
  color: #B0B0B0;
}
