<ion-content [fullscreen]="true">
  <div id="container">
    <div class="flex-container">
      <div class="left">
        <button class="timer start" (click)="startTimer()" *ngIf="!timerStarted" [disabled]="!number"></button>
        <button class="timer pause" (click)="pauseTimer()" *ngIf="timerStarted && !timerPaused"></button>
        <button class="timer start" (click)="unpauseTimer()" *ngIf="timerStarted && timerPaused"></button>

        <button class="timer reset" (click)="resetTimer()">Reset timer</button>
      </div>

      <div class="right">
        <div class="interval-select" *ngIf="!timerStarted">
          <ion-label>Alert me every...</ion-label>

          <div class="inputs">
            <ion-input type="number" placeholder="30" [(ngModel)]="number" [disabled]="timerStarted"></ion-input>
              <select (change)="intervalChanged($event)" value="1000" [disabled]="timerStarted">
                <option value="1000">Seconds</option>
                <option value="60000">Minutes</option>
                <option value="3600000">Hours</option>
              </select>
          </div>
        </div>

        <div class="labels">
          <ion-label class="flavor" *ngIf="timerStarted">Next alert in...</ion-label>
          <div class="countdown" *ngIf="timerStarted">
            <span *ngIf="displayHours">{{ displayHours }}<span class="tag">h</span></span>
            {{ displayMinutes }}<span class="tag">m</span>
            {{ displaySeconds }}<span class="tag">s</span>
          </div>
        </div>


      </div>
    </div>
  </div>
</ion-content>
