<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <div class="interval-select" *ngIf="!timerStarted">
      <ion-label>Alert me every...</ion-label>

      <div class="inputs">
        <ion-input type="number" placeholder="30" [(ngModel)]="number" [disabled]="timerStarted"></ion-input>

        <ion-segment (ionChange)="intervalChanged($event)" value="60000" [disabled]="timerStarted">
          <ion-segment-button value="1000">
            <ion-label>Seconds</ion-label>
          </ion-segment-button>
          <ion-segment-button value="60000">
            <ion-label>Minutes</ion-label>
          </ion-segment-button>
          <ion-segment-button value="3600000">
            <ion-label>Hours</ion-label>
          </ion-segment-button>
        </ion-segment>
      </div>
    </div>

    <div class="top-buttons">
      <button class="timer start" (click)="startTimer()" *ngIf="!timerStarted" [disabled]="!number">Start timer</button>
      <button class="timer pause" (click)="togglePause()" *ngIf="timerStarted">{{ timerPaused ? 'Unpause' : 'Pause' }} timer</button>
      <button class="timer reset" (click)="resetTimer()">Reset timer</button>
    </div>

    <div class="labels">
      <ion-label class="flavor" *ngIf="timerStarted">Next alert in...</ion-label>
      <ion-label class="countdown" *ngIf="timerStarted">{{ displayTime }}</ion-label>
    </div>
  </div>
</ion-content>
